@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    position: relative;
    min-height: 100vh;
    width:100%;
    background:#eeeeec;
}

#root {
    display:flex;
    min-height:100vh;
}

.color {
    color:#b87373;
}

img {
    width:200px;
}