@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  width: 100%;
  background: #f7f6f1;
}

#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.color {
  color: #ff5733;
  font-weight: 700;
}

.white {
  background: #fff;
}

img {
  width: 100%;
}

.set-height {
  min-height: 100vh;
}

.gradient {
  background: rgb(138, 35, 135);
  background: linear-gradient(
    138deg,
    rgba(138, 35, 135, 1) 0%,
    rgba(233, 64, 87, 1) 35%,
    rgba(242, 113, 33, 1) 100%
  );
}

.light {
  color: white;
}

.orange {
  background: #ff5733;
  color: white;
}

.orange:hover {
  background: #ff8c74;
  color: white;
}

.link-danger {
  cursor: pointer;
}

.loading-overlay {
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.logo {
  width: 30px;
}

.icon {
  width: 25px;
}

.plus {
  color: white;
}

.mobile {
  display: none;
}
@media only screen and (min-width: 599px) {
  .mobile {
    display: block;
  }
}

.errorpage {
  font-size: 6rem;
}

@media only screen and (min-width: 599px) {
  .errorpage {
    font-size: 10rem;
  }
}
